*{
    padding: 0%;
    margin: 0 auto;
}

#page_one {
    background-image: url(img/Pokemon_Wallpaper05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#page_two {
    display: none;
    background-image: url(img/Pokemon_Wallpaper06.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.6;
    display: block;*/
}

#logo1 img{
    margin-left: 32%;
    width: 35%;
    /*height: 50%;*/
}

.intro{
    padding: 2% 10% 3% 10%;
    display: flex;
}

.welcome_text{
    /*position: absolute;*/
    /*width: 55%;
    height: 100%;*/
    margin-right: 15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 175%;
    color: yellow;
    text-shadow: 0 0 0.5em rgb(11, 7, 250), 0 0 0.5em rgb(40, 54, 255),
            0 0 0.5em rgb(0, 8, 248)
}

#enter_button{  
    background: url(img/btnpokeball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /*position: absolute;
    left: 75%;
    top: 35%;
    padding: 10%;
    width: 380px;*/
    width: 220px;
    box-shadow: 10px 10px 10px #3B4CCA;
}

#search_button{  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /*position: absolute;
    left: 75%;
    top: 35%;
    padding: 10%;
    width: 380px;*/
    width: 80px;
    box-shadow: 2px 2px 2px #3B4CCA;
}

#footer img{
    width: 100%;
    margin-bottom: -7%;
    /*position: absolute;
    /*padding-top: 3%;
    padding-bottom: 5%;
    background: #000000;*/
}

.second_header{
    display: flex;
    padding: 2% 0% 2% 20%;
}

#logo2 img{
    margin-left: 30%;
    width: 65%;
    /*height: 50%;*/
}

#return_button img{
    width: 65%;
    cursor: pointer;
}

.second_text{
    /*position: absolute;
    width: 55%;
    height: 100%;
    margin-top: 0%;*/
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 175%;
    color: #FFDE00;
    text-shadow: 0 0 0.5em rgb(11, 7, 250), 0 0 0.5em #2836ff,
            0 0 0.5em rgb(0, 8, 248)
}

.button_container{
    text-align: center;
    align-content: space-between;
}

.order_button{
    border-color: #FFDE00;
    color: #FFDE00;
    padding: 1%;
    border-radius: 100%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
}

#orderAZ{
    background-color:#FF0000; 
}

#orderZA{
    background-color:#3B4CCA; 
}

.search_box{
    width: 25%;
    border-radius: 15px;
    background-color:#FFDE00;
    border-color: #3B4CCA;
    border: 3px solid #3B4CCA;
    text-align: center;
    font-family:'-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';
    color: #FF0000;
    font-size: 25px;    
}

.select_type{
    width: 15%;
    border-radius: 15px;
    background-color:#FFDE00;
    border-color: #3B4CCA;
    border: 3px solid #3B4CCA;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FF0000;
    font-size: 25px;      
}

#pokemon_list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal ;
    font-weight: bold;
    font-size: 77%;
    line-height: 175%;
    color: #FF0000;
    /* text-shadow: 0 0 0.5em rgb(11, 7, 250), 0 0 0.5em rgb(40, 54, 255),
            0 0 0.5em rgb(0, 8, 248) */
}

.cards{
    background-color: #FFDE00;
    /*background-color:rgb(255, 255, 0, 0.4);*/
    padding: 1.5%;
    margin: 1.5%;
    border: 4px solid #3B4CCA;
    border-radius: 15%;
    width: 10%;
}