body{
    background-image: url(Pokemon_Wallpaper03.jpg);
}
.mainBackgraund {
background-image: url(./pokemon.jpg.jpg);
background-repeat: no-repeat;

}

.main-text{
position: absolute;
width: 748px;
height: 241px;
left: 236px;
top: 423px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
color: yellow;
text-shadow: 0 0 0.2em rgb(11, 7, 250), 0 0 0.2em rgb(4, 54, 255),
        0 0 0.2em rgb(0, 8, 248)
}

 .buttonEnter{  
background: url(btnpokeball.jpg);
background-repeat: no-repeat;
position: absolute;
width: 181px;
height: 241px;
left: 1081px;
top: 456px;
}
.footer {
position: absolute;
width: 1527px;
height: 112px;
left: 0px;
top: 906px;
background: #000000;
}
